<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <!-- <img src="{{ site.baseurl }}/img/{{ page.author_avatar }}.jpg" class="user-icon " alt="user-image"> -->
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="category-list">
                <p>Publicado em <span>{{ page.date | date: "%b %-d, %Y" }}</span> | <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>{{ page.categories.first | capitalize }}</a></p>
                <br>
                <p>Carolina Bigonha &copy; 2015 <a href="/">últimos posts</a></p>

            </div>
        </div><!-- end col -->
        <div class="col-xs-12 col-sm-4">
            <div class="social">
                <p>Gostou? Compartilhe!</a>
                <div class="social-links">
                    <a class="social-icon" href="#" data-platform="twitter" data-message="{{ page.social-message }}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-twitter"></i></a>

                    <a class="social-icon" href="#" data-platform="facebook" data-message="{{ page.social-message }}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-facebook-official"></i></a>
                    <a class="social-icon" data-platform="mail"  href="mailto:{{ site.email }}?body={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div><!-- end row -->
</div>