<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">

            <h1 class="site-title"><a href="/">Carolina Bigonha</a></h1>
            <p class="about-text">{{ site.description }}</p>

			<p class="sidebar-section">
			Check out my work and thoughts online. Here's my <a class="linkedin" target="_blank" alt="linkedin" href="http://www.linkedin.com/pub/carolina-bigonha/5b/225/459">Linkedin</a> profile, my open-source contributions on <a class="github" target="_blank" alt="github" href="http://github.com/carolinabigonha">GitHub</a>, thoughts and news on my <a class="twitter" target="_blank" alt="twitter" href="https://twitter.com/carolinabigonha">Twttter</a> and the music I listen to at <a class="last-fm" target="_blank" alt="last-fm" href="http://last-fm.com/carolinabigonha">Last.fm</a>.
			</p>

			<p class="sidebar-section">
				Subscribe to the <a class="rss" target="_blank" alt="rss" href="/feed.xml">RSS</a> feed.
			</p>

        </div>
    </div>
</div>
