<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      
      <h1 class="site-title"><a href="/">Hi, I'm Carolina.</a></h1>

      <h2 class="sidebar-section">About</h2>
      <p class="about-text">{{ site.description }}</p>

      <h2 class="sidebar-section">Get in touch</h2>
      <ul class="social"> 
        <li class="social-link sidebar-link"><a class="entypo-github" data-text="github" target="_blank" alt="github" href="http://github.com/carolinabigonha"></a>
         </li>                      
        <li class="social-link sidebar-link"><a class="entypo-linkedin" data-text="linkedin" target="_blank" alt="linkedin" href="http://www.linkedin.com/pub/carolina-bigonha/5b/225/459"></a></li>
        <li class="social-link sidebar-link"><a class="entypo-twitter" data-text="twitter" target="_blank" alt="twitter" href="https://twitter.com/carolinabigonha"></a>
         </li>
         <li class="social-link sidebar-link"><a class="entypo-monitor" data-text="entypo" target="_blank" alt="speakerdeck" href="http://speakerdeck.com/carolinabigonha"></a>
         </li>   
      </ul>

      <h2 class="sidebar-section">Subscribe</h2>
      <p><a href="/feed.xml">RSS</a></p>

    </div>
  </div>
</div>
