<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      
      <h1 class="site-title"><a href="/">Hi, I'm Carolina.</a></h1>

      <h2 class="sidebar-section">About</h2>
      <p class="about-text">{{ site.description }}</p>

      <ul class="social"> 
        <li class="social-item"><a class="social-link github" target="_blank" alt="github" href="http://github.com/carolinabigonha"></a>
         </li>                      
        <li class="social-item"><a class="social-link linkedin" target="_blank" alt="linkedin" href="http://www.linkedin.com/pub/carolina-bigonha/5b/225/459"></a></li>
        <li class="social-item"><a class="social-link twitter"  target="_blank" alt="twitter" href="https://twitter.com/carolinabigonha"></a>
         </li>
         <li class="social-item"><a class="social-link speakerdeck" target="_blank" alt="speakerdeck" href="http://speakerdeck.com/carolinabigonha"></a>
         </li>   
         <li class="social-item"><a class="social-link rss" target="_blank" alt="rss" href="/feed.xml"></a>
         </li> 
      </ul>
    </div>
  </div>
</div>

