---
layout: default
---

<div class="go-home">
    <div class="container">
    <a href="/">HOME</a>
    </div>
</div>
<header class="hero-image" style='background-image: url({{"/img/" | append: page.feature_image | prepend: site.baseurl }}.jpg);'>

</header>

<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">

            <h1>{{ page.title }}</h1>
 
            {% include contact-form.html %}

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->

{% include footer-page.html %}

