---
layout: default
---

<header class="hero-image" style="background-image: url({{ site.baseurl }}/img/{{page.feature_image}}.jpg);">

    <span class"go-home"><a href="/"> Carolina Bigonha</a></span>

</header>

<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">
            <p class="meta">
                <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>{{ page.categories[0] | capitalize }}</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ page.read_time }} minutos
            </p>

            <h1>{{ page.title }}</h1>

            {{ content }}

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->

<footer class="single">
    {% include footer-single.html %}

    {% if page.show_related_posts == true %}
        {% include footer-related-posts.html %}
    {% endif %}
</footer>


